<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Mizu no Hoshi Shop</title>
	<%= stylesheet_link_tag "shop", :media => "all" %>
</head>
<body>
	
	<section class="shopPage">
		<div class="shopContents">
			<div class="illustBox">
				<div class="illust1">
					<%= image_tag 'shop/illust1.png' %>
				</div>
			</div>
			<div class="introBox">
				<div class="introcCntents">
					<h1>みずのほし</h1>
					<h2>Mizu no Hoshi</h2>
					<div>
						<div class="plotBox">
						<h3>あらすじ</h3>
						<p>自然豊かな理想郷「みずのほし」に生まれ落ちた「I（アイ）」は、</p>
						<p>本来この星の生き物が抱くはずのない</p>
						<p>"何か"を持っているのに気づいてしまう。</p>
						<p>持たざる大多数「us（アス）」の群れを離れ、ひとりで世界を</p>
						<p>渡り歩きながら、自分を揺さぶる"何か"の存在を模索するI。</p>
						<p>そんなIの元に現れたのは、自分と同じ</p>
						<p>"何か"――『感情』を持っている「Me（ミー）」だった。</p>
						<p>別世界からやってきた、姿形の異なる彼と過ごしながら、</p>
						<p>自分の感情を探り、心を認識するI。</p>
						<p>対してMeは、感情の与える影響に懐疑的であった。</p>
						<p>ふたりの、さざ波のようなすれ違いは</p>
						<p>次第に大きな渦となって物語を飲み込んでいく。 </p>
						<p>これは、みずのほしの生物が辿る”平等な終わり"へ進む、</p>
						<p>みずのほしの生き物であるIと、</p>
						<p>異邦人Meの出会いと別れの月齢。</p>
							<br>
							<br>
						<p>脚本・あらすじ 藤波透子</p>
						<p>絵 空斗 綴り線</p>
						<p>音楽 Nibi</p>
					</div>
						<div class="tableSong">
						<ol>
							<li><span class="musicNum">１</span>&emsp;Main Themen - Mizu no Hoshi -</li>
							<li><span class="musicNum">２</span>&emsp;Cycle</li>
							<li><span class="musicNum">３</span>&emsp;Song of “us”</li>
							<li><span class="musicNum">４</span>&emsp;Crack</li>
							<li><span class="musicNum">５</span>&emsp;Cliff,Eating,Bell</li>
							<li><span class="musicNum">6</span>&emsp;Song of “You”</li>
							<li><span class="musicNum">7</span>&emsp;Undercooked Fish</li>
							<li><span class="musicNum">8</span>&emsp;Reminisce</li>
							<li><span class="musicNum">9</span>&emsp;Shape of the Moon</li>
							<li><span class="musicNum">10</span>&emsp;Wakare</li>
							<li><span class="musicNum">11</span>&emsp;Song of “I”</li>
							<li><span class="musicNum">12</span>&emsp;Festival</li>
							<li><span class="musicNum">13</span>&emsp;Enroll -Tabiji -</li>
						</ol>
						</div>
					</div>
					<div class="btnBox">
						<div class="buyBtn">
							<a href="">ご購入</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/shop.js"></script>
</body>
</html>
