<!DOCTYP html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="description" content="作曲家・大村知也とシンガーソングライター・高橋のりえによる音楽プロジェクトNibiによる初回作品、音楽・脚本・絵のみで成り立つ頭の中だけで上映される映画作品みずのほしを制作するプロジェクト。" />
	<meta name="keywords" content="Nibi,みずのほし,大村知也,高橋のりえ" />
	<meta property="og:site_name" content="Nibi『みずのほし』公式サイト" />
	<meta property="og:image" content="top/image.jpg" />
	<title>Mizu no Hoshi Top</title>
	<%= stylesheet_link_tag "top", :media => "all" %>
</head>
<body>
	<section class="topPage">
		<div class="titleBox1">
			<h1>Nibi first project</h1>
			<div class="titleBox">
				<h2 class="projectTitle">みずのほし</h2>
				<h2 class="subTitle">Mizu no Hoshi</h2>
			</div>
			<div class="screened">screened in mind, with only music, script and illustrations.</div>
		</div>
		<div class="btnBox1">
			<div class="btnBox">
				<div class="buyBtn"><a href="shop/index.html"><%= link_to "start", "http://44.226.171.25/work"  %></a></div>
				<div class="buyBtn"><a href="shop/index.html"><%= link_to "ご購入", "http://44.226.171.25/shop" %></a></div>
			</div>
		</div>
	</section>
</body>
</html>
